
<ul *ngIf="pages.length > 1" class="pagination">
  <li *ngIf="currentPage != 1" class="page-item">
    <a [routerLink]="[routePath]" [queryParams]="{ page: currentPage - 1 }" class="page-link" href="#">Previous</a>
  </li>
  <li *ngFor="let p of pages" class="page-item" [ngClass]="{'active' : p === currentPage}">
    <a [routerLink]="[routePath]" [queryParams]="{ page: p }" class="page-link" href="#">{{p}}</a>
  </li>
  <li *ngIf="currentPage != pages.length" class="page-item">
    <a [routerLink]="[routePath]" [queryParams]="{ page: currentPage + 1 }" class="page-link" href="#">Next</a>
  </li>
</ul>