<h3>Update Task</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="form-group">
    <label class="control-label required" for="task-key">Key</label>
    <input formControlName="key"
           type="text"
           name="key" 
           class="form-control" 
           id="task-key" 
           placeholder="Enter task key">
  </div>
  <div class="form-group">
    <label class="control-label required" for="task-name">Name</label>
    <input formControlName="name"
           type="text" 
           name="name"
           class="form-control" 
           id="task-name" 
           placeholder="Enter task name"
           required>
    <div class="alert" *ngIf="!this.form.controls['name'].valid && this.form.controls['name'].touched">{{invalidNameMessage}}</div>
  </div>
  <div class="form-group">
      <label class="control-label" for="task-description">Description</label>
      <textarea formControlName="description"
                class="form-control" 
                name="description"
                id="task-description" 
                rows="3"></textarea>
  </div>
  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Update</button>
</form>
